*vtu
DG_NavierStokes_DualSplitting
CMakeFiles
CMakeCache.txt
Makefile
cmake_install.cmake
.project
.cproject
*~
libindexa.so
applications/multigrid_solver
applications/fe_flow_past_cylinder
applications/fe_turbulent_channel
applications/fe_poiseuille
