*vtu
DG_NavierStokes_DualSplitting
CMakeFiles
CMakeCache.txt
Makefile
cmake_install.cmake
.project
.cproject
*~
*cbp
libindexa.so
applications/multigrid_solver
applications/fe_flow_past_cylinder
applications/fe_turbulent_channel
applications/fe_poiseuille
applications/gmres_test
applications/navier_stokes_operator_matrix_free
applications/navier_stokes_operator_matrix_free_basic
applications/steady_convection_diffusion
applications/steady_navier_stokes
applications/unsteady_convection_diffusion
applications/unsteady_navier_stokes
applications/unsteady_navier_stokes_coupled_solver
applications/unsteady_navier_stokes_pressure_correction
